* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}
.links ul, .icon ul{
    display: flex;
    flex-direction: row; 
    align-self: self-end;
    gap: 60px;
}
.icon ul{
    gap: 30px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.content1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 240px;
}
.content1 h1{
    font-size: 72px;
    font-weight: 700px;
    margin-bottom: 20px;
}
p {
    font-size: 20px;
    font-weight: 300px;
}
.btn1 {
    width: 150px;
    height: 45px;
    border-radius: 60px;
}

.content2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 30px;
    
    }
    
    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        margin-top: 200px;
        text-align: left;
        
    }
    
    .main .image{
        display: flex;
        justify-content: space-evenly;
        gap: 40px;
        
    }
        
    .content2 h1{
        font-size: 40px;
        font-weight: 500px;
        padding-top: 20px;
        
    }
    
    
    
    
    .btn2{
        width: 140px;
        height: 40px;
        border-radius: 60px;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .content h1{
        font-size: 40px;
        font-weight: 300px;
        margin-left: 30px;
        
    }
    .content p{
        margin-right: 30px;
    }

    .content3{
        text-align: left;
        margin-top: 100px;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }

    .main1{
       margin-top: 150px; 
       text-align: justify;
    }

    .images{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .main2{
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
    .main3{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: justify;
        
        
    }
    .content5{
        
    }
    .btn3{
        width: 150px;
        height: 50px;
        border-radius: 40px;
        
    }
    .btn3:hover{
        background: orange;
    }
    .Form{
        width: 300px;
        height: 230px;
        display: flex;
        flex-direction: column;
       
    }
    .Form input{
        width: 240px;
        height: 30px;
        background: transparent;
        border-radius: 10px;
        justify-content: space-between;
    }
    .Form textarea{
        width: 240px;
        height: 200px;
    }
    .main4{
        margin-top: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .btn4{
        width: 150px;
        height: 50px;
        border-radius: 60px;
    }
    .content6 {
        text-align: justify;
    }
    .content6 h4{
        margin-top: 70px;
        font-size: 30px;
    }

    .content6 h5{
        margin-top: 50px;
        font-size: 30px;
    }
    .content7 p{
        margin-top: 50px;
        text-align: justify;
    }
    .content7 h1{
        font-size: 40px;
        text-align: justify;
    }
    .content8{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 200px;
        text-align: justify;
    }
    .social{
        display: flex;
        flex-direction: column;
        
    }

    .div1{
        margin-left: 30px;
    }
    .div1 h4{
        margin-top: 30px;
        font-size: 20px;
    }
    .div3{
        margin-right: 30px;
    }
   