
*{
    background: #000;
    padding: 10px;
}

.main{
    background-color:#000;
    margin: 10px;
    padding: 30px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    
    
}

.logo{
    color: white;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.div1{
    background-color:#000;
    margin: 5px;
    width: 400px;

}

.menu{
    background-color: #000 ;
    margin: 5px;
    width: 400px;
    height: 70px;
}

ul{

    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
}



a:link, a:visited{
    text-decoration: none;
    color: white;
}
 
a:active, a:hover{
    text-decoration: none;
    color: blueviolet;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    top: 20%;
    left: 30%;
    
}

.content h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    text-align: left;
    
}

.content .cn{
    width: 160px;
    height: 40px;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
}



.icon ul{
    background: #fff;
}

li a i{
    color: #dbd8d7;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
